<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AppShared.Properties.Settings.hungnguyenConnectionString"
            connectionString="Data Source=den1.mssql8.gear.host;Initial Catalog=hungnguyen;Persist Security Info=True;User ID=hungnguyen;Password=hungnguyen@571999!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>